@model Domain.Models.TblPhieuNhapKho

@{
    ViewData["Title"] = "Create";
}


<div class="page-header">
    <h2 class="header-title">Thêm phiếu nhập kho</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-controller="AdminPhieuNhapKho" asp-action="Index">Danh sách phiếu nhập</a>

        </nav>
    </div>
</div>

<div class="row">
    <div class="modal-body" style="background-color:#FAEAEA">
        <div class="card">
            <div class="card-body" style="background-color:#FAEAEA">
                <form asp-action="Create">
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="IdNhanVien" class="control-label">Mã nhân viên *</label>
                                <select asp-for="IdNhanVien" class="form-control" asp-items="@((SelectList)ViewData["IdNhanVien"])"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="IdNhaCungCap" class="control-label">Tên nhà cung cấp *</label>
                                <select asp-for="IdNhaCungCap" class="form-control" asp-items="@((SelectList)ViewData["IdNhaCungCap"])"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="DNgaySua" class="control-label">Ngày lập *</label>
                                <input asp-for="DNgaySua" class="form-control" id="datepicker" />
                                <span asp-validation-for="DNgaySua" class="text-danger"></span>
                            </div>
                        </div>


                        @*                        <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="BTrangThai" class="control-label">Trạng thái *</label>
                                    <select asp-for="BTrangThai" class="form-control" asp-items="ViewBag.TransactStatusId"></select>
                                </div>
                            </div>*@
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="SGhiChu" class="control-label">Ghi chú</label>
                            <input asp-for="SGhiChu" class="form-control" />
                            <span asp-validation-for="SGhiChu" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="col-md-6">
                        <div class="form-group">
                            <button type="submit" class="btn btn-info  m-r-5"><i class="far fa-save m-r-5 fa-lg"></i>Lưu</button>
                            |
                            <a class="btn btn-warning   m-r-5" asp-action="Index"> <i class="fas fa-undo m-r-5 fa-lg"></i>Quay lại</a>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
