@model PKX_DATN.ModelViews.HomeViewVM
@{
    ViewData["Title"] = "Home Page";
    List<TblSanPham> allProduct = ViewBag.AllProducts;
}

<!-- Begin Slider Area -->
<!-- Main Slider -->
<!-- Slider Area End Here -->
<!-- Hero Section Begin -->
<section class="hero">
    <div class="hero__slider owl-carousel">
        <div class="hero__items set-bg" data-setbg="assets/img/hero/banner_xe1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6>Sản phẩm hot</h6>
                            <h2 class="text-warning ql-color-orange">Đèn Trợ Sáng</h2>
                            <pc class="text-white font-weight-bold">
                                Không thể thiếu trong những chuyến Tour ngắn hay dài, đảm bảo cung cấp ánh sáng tốt nhất cho cung đường của bạn
                            </pc>
                            <ping></ping>
                            <a href="#" class="primary-btn">Mua ngay <span class="arrow_right"></span></a>
                            <div class="hero__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__items set-bg" data-setbg="assets/img/hero/banner-xe2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6>Sản phẩm hot</h6>
                            <h2 class="text-warning ql-color-orange">Khóa Chống Trộm</h2>
                            <pc class="text-white font-weight-bold">
                                Công nghệ vượt trội, hỗ trợ tối ưu bảo mật, nhận diện chủ xe
                            </pc>
                            <a href="#" class="primary-btn">Mua ngay <span class="arrow_right"></span></a>
                            <div class="hero__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- Banner Section Begin -->
<section class="banner spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 offset-lg-4">
                <div class="banner__item">
                    <div class="banner__item__pic">
                        <img style="width:500px; height:500px" src="assets/img/banner/xe1.jpg" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Đồ chơi xe máy</h2>
                        <a href="#">Mua ngay</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="banner__item banner__item--middle">
                    <div class="banner__item__pic">
                        <img style="width:500px;height:500px" src="assets/img/banner/xe2.jpg" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Phụ kiện</h2>
                        <a href="#">Mua ngay</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="banner__item banner__item--last">
                    <div class="banner__item__pic">
                        <img style="width:500px; height:500px" src="assets/img/banner/xe3.jpg" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Balo Phượt</h2>
                        <a href="#">Mua ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->
<!-- Begin Shipping Area -->
<!-- Shipping Area End Here -->
<!-- Begin Product Area -->

<!-- Product Area End Here -->
<!-- Begin Product Area -->
<!-- Begin Banner Area -->
<!-- Banner Area End Here -->
<!-- Begin Product Area -->
<!-- Product Area End Here -->
<!-- Categories Section Begin -->

<!-- Categories Section End -->
<!-- Instagram Section Begin -->
<section class="instagram spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="instagram__pic">
                    <div class="instagram__pic__item set-bg" data-setbg="assets/img/instagram/xe11.jpg"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="assets/img/instagram/xe21.jpg"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="assets/img/instagram/xe32.jpg"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="assets/img/instagram/xe41.jpg"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="assets/img/instagram/xe5.jpg"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="assets/img/instagram/xe61.jpg"></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="instagram__text">
                    <h2>Phụ Kiện Xế</h2>
                    <h4>
                        Đặt sự hài lòng của bạn lên hàng đầu, chăm sóc xe bạn như chăm sóc gia đình
                    </h4>
                    <h3></h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Instagram Section End -->
<!-- Latest Blog Section Begin -->
<section class="latest spad">
    <div class="container">
        
        <div class="row">

          

        </div>
    </div>
</section>
<!-- Latest Blog Section End -->
@section Scripts{
    <script>
        $(document).ready(function () {
            $(".product-name").each(function (i) {
                var len = $(this).text().trim().length;
                if (len > 35) {
                    $(this).text($(this).text().substr(0, 35) + '...');
                }
            });
        });
    </script>

}
