@model Domain.Models.TblNhanVien

@{
    ViewData["Title"] = "Edit";
}

<h1>Chỉnh sửa thông tin</h1>

<h4>TblNhanVien</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdNhanVien" />
            <div class="form-group">
                <label asp-for="SSdt" class="control-label"></label>
                <input asp-for="SSdt" class="form-control" />
                <span asp-validation-for="SSdt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SEmail" class="control-label"></label>
                <input asp-for="SEmail" class="form-control" />
                <span asp-validation-for="SEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SPassword" class="control-label"></label>
                <input asp-for="SPassword" class="form-control" />
                <span asp-validation-for="SPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SHoTen" class="control-label"></label>
                <input asp-for="SHoTen" class="form-control" />
                <span asp-validation-for="SHoTen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdQuyenHan" class="control-label"></label>
                <select asp-for="IdQuyenHan" class="form-control" asp-items="ViewBag.IdQuyenHan"></select>
                <span asp-validation-for="IdQuyenHan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
