@model List<TblDonHang>
@{ 
}
@if (Model != null && Model.Count() > 0)
{
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <tbody id="ds__cart">

            </tbody>
        </table>
    </div>
}
else
{
    <p>Chưa có đơn hàng</p>
}

<div class="modal fade" id="xem" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title fs-5" id="exampleModalLabel">Chi tiết đơn hàng:</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-title ml-2">
                <h3 style="display:block" id="orderid"></h3>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-hover">
                    <tbody id="trang__cn">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    $(document).ready(function () {
        console.log("ready");
        LoadDonHang();
    });
    $(document).on('click', ".account-order-id", function () {
        var usid = $(this).data('order-id');
        $.ajax({
            url: '/GioHang/TrangGioHang',
            Type: 'get',
            data: { id: usid },
            success: function (data) {
                console.log(data.tcn);
                console.log(usid);
                $('#trang__cn').empty();
                if (data.code == 200) {
                    let tr = '<tr class="text-center">';
                    tr += '<th>STT</th>';
                    tr += '<th>Tên sản phẩm</th>';
                    tr += '<th>Số lượng </th>';
                    tr += '<th>Đơn giá</th>';
                    tr += '<th>Tổng tiền</th>';
                    tr += '</tr>';

                    $.each(data.tcn, function (index, item) {
                        tr += '<tr>';
                        tr += '<td>' + (index + 1) + '</td>';
                        tr += '<td>' + item.tenSanPham + '</td>';
                        tr += '<td>' + item.iSoLuong + '</td>';
                        tr += '<td>' + item.fTongTien + '</td>';
                        tr += '<td>' + (item.iSoLuong * item.fTongTien) + '</td>';
                        tr += '</tr>';
                    });
                    $('#orderid').text("Mã đơn:" + usid);
                    $('#trang__cn').append(tr);
                    $('#xem').modal('show');
                }
            }
        });
    });
    $(document).on('click', ".huy-order-id", function () {
        var pid = $(this).data('order-id');
        if (confirm("Bạn thật sự muốn huỷ sản phẩm này?")) {
            $.ajax({
                url: '/Accounts/RemoveOrder',
                type: 'post',
                data: { id: pid },
                success: function (data) {
                    if (data.code == 200) {
                        alert(data.msg);
                        LoadDonHang();
                        return;
                    }
                    if (data.code == 501) {
                        alert(data.msg);
                        return;
                    }
                    alert(data.msg);
                }
            });
        }
    });
    function LoadDonHang() {
        $.ajax({
            url: '/Accounts/TrangDonHang',
            Type: 'get',
            success: function (data) {
                //console.log(data)
                if (data.code == 200) {
                    $('#ds__cart').empty();
                    console.log(data.tcn);
                    let tr = `<tr class='text-center'>` +
                        `<th>Mã đơn hàng</th>` +
                        `<th>Ngày mua hàng</th>` +
                        `<th>Họ và tên</th>` +
                        `<th>Trạng thái</th>` +
                        `<th>Tổng tiền</th>` +
                        `<th colspan="2">Chức năng</th>` +
                        `</tr>`;
                    $.each(data.tcn, function (index, item) {
                        tr += '<tr><td><a>' + item.maDon + '</a></td>';
                        tr += '<td>' + item.ngayMua +'</td>';
                        tr += '<td>' +item.hoTen+'</td>';
                        tr += '<td>' + item.trangThai + '</td>';
                        tr += '<td>' + item.tongTien + '</td>';
                        tr += '<td><a class="account-order-id btn btn-primary btn-tone m-r-5" data-order-id="' + item.maDon + '"><i class="far fa-eye m-r-5 fa-lg text-white"></i><span class="text-white">Xem</span></a></td>';
                        tr += '<td><a class="huy-order-id btn btn-danger btn-tone m-r-5" data-order-id="' + item.maDon + '"><i class="far fa-trash-alt m-r-5 fa-lg"></i>Huỷ</a></td>';
                        tr += '</tr>';
                    });
                    $('#ds__cart').append(tr);
                }
            }
        });
    }
</script>



